@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap");
* {
  font-family: "Montserrat";
}
.f-white {
  color: white;
}
.f-black {
  color: black;
}
.f-center {
  text-align: center;
}
.f-em {
  font-size: 1.5em;
}
.m-auto {
  margin: auto 4px;
}
.ivu-btn {
  color: #dc050e;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 1em 5em;
  min-width: 100%;
  font-weight: 600;
  letter-spacing: 2px;
}
.ivu-btn:hover {
  color: #ffffff;
  background-color: #dc050e;
  border-color: #ffffff;
  border-radius: 30px;
  padding: 1em 5em;
  min-width: 100%;
  font-weight: 600;
  letter-spacing: 2px;
}
.ivu-btn-success {
  color: #ffffff;
  background-color: #dc050e;
  border-color: #ffffff;
}
.ivu-btn-success:hover,
.ivu-btn-success:focus,
.ivu-btn-success:active {
  color: #dc050e;
  background-color: #ffffff;
  border-color: #dc050e;
  box-shadow: none;
}
.extra-bold {
  font-weight: 700;
}
.bold {
  font-weight: 700;
}
.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}
.bg-red {
  background-color: #dc050e;
}
.l-spacing {
  letter-spacing: 0.5px;
}
.full {
  min-height: 100vh;
  min-width: 100vw;
}
.min-h {
  min-height: 100vh;
}
.mt-less {
  margin-top: -1.7em;
}
.mt-50 {
  margin-top: 50%;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20%;
}
.ml-4 {
  margin-left: 4em;
}
.font-25 {
  font-size: 25px;
}

.ivu-input {
  border-radius: 30px !important;
  padding: 2em 3.5em;
  background-color: #f4f9fc;
  /* border-color: #dc050e; */
}
.ivu-select-selection {
  background-color: #f4f9fc;
  height: 48px !important;
}
/* .ivu-select-single .ivu-select-selection .ivu-select-placeholder,
.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
  line-height: 46px !important;
} */
.ivu-select-arrow {
  color: #dc050e;
}

.ivu-input:hover,
.ivu-input:focus,
.ivu-input:active {
  border-color: #dc050e;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ivu-select-item:hover,
.ivu-select-item:focus,
.ivu-select-item:active,
.ivu-select-item-selected {
  color: #dc050e;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media screen and (min-width: 769px) {
  .lg-bg-red {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 45vw;
    min-height: 100vh;
    background-color: #dc050e;
    z-index: 1;
  }
  .lg-f-white {
    color: #ffff;
  }
  .lg-f-52 {
    font-size: 52px;
  }
  .lg-mt-30 {
    margin-top: 30px;
  }
}

.float {
  z-index: 10000;
}

.ivu-select-selection {
  border-radius: 30px;
}

.circle {
  border-radius: 50%;
  height: 70px;
}

.ivu-input-prefix,
.ivu-input-suffix {
  padding: 10px;
}

.ivu-input-prefix i,
.ivu-input-suffix i {
  font-size: 32px;
}

.ivu-select-single .ivu-select-prefix {
  padding: 10px;
  padding-right: 0px;
}
.ivu-select-prefix i {
  font-size: 32px;
}
